* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #01010D;
    font-size: 16px;
}

.container {
    max-width: 1187px;
    margin: 0 auto;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24.72px;
    padding-bottom: 167.76px;
    
}
.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 24px;
    padding-right: 30px;
}
.nav {
    width: 443px;
    margin-right: 60px;
}
.menu {
    display: flex;
    gap: 60px;
    list-style-type: none;
}


.menu a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #01010D; 
}

.menu a:hover {
    padding: 0;
    font-weight: 700;
    padding-bottom: 38px;
    border-bottom: 4px solid #1617DB;
}

.button {
    padding: 13px 23px;
    border-radius: 6px;
    height: 51px;
    width: 154px;
    border: 1px solid rgb(22, 23, 219, 20%);
    background-color: rgb(255, 255, 255, 0%);
    color: #6565EC;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #1617DB;
    background-color: #1617DB;
    color: #fff;
    transition: 0.35s;
}
hr {
    width: 1134px;
    margin: 0 auto;
    height: 1px;
    background-color: #1617DB;
    opacity: 5%;
}
.header-content {
    position: relative;
    padding-top: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-text {
    width: 460px;
}

.text-h6 {
    margin-left: 3px;
    font-size: 12px;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #1617DB;
    margin-bottom: 12px;
    font-weight: 400;
}
.text-h1 {
    margin: 0;
    font-size: 67px;
    font-weight: 700;
    line-height: 120%;
    color: #01010D;
    width: 454px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.content-text .text-p {
    font-size: 16px;
    line-height: 150%;
    color: #01010D;
    width: 457px;
    margin-bottom: 53px;
}
.content-text .button {
    margin-right: 30px;
   
}

.nobg {
    border: 1px solid rgb(22, 23, 219, 20%);
    background-color: rgb(255, 255, 255, 0%);
    color: #6565EC;
}
.nobg .fa-apple {
    color: #6565EC;
    margin-right: 10px;
}


.nobg:hover {
    border: 1px solid #1617DB;
    background-color: #1617DB;
    color: #fff;
}
.nobg:hover .fa-apple {
    color: #fff;
}

.content-img {
    position: absolute;
    right: -208px;
}

.main {
    padding-top: 96px;
    padding-bottom: 46px;
}
.main-head {
    margin-bottom: 80px;
}
.text-h2 {
    font-size: 51px;
    line-height: 120%;
    color: #01010D;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
}
.main-head .text-p {
    font-size: 16px;
    width: 433px;
    line-height: 160%;
    margin: 0 auto;
}
.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-flex_block-one {
}
.block-info {
    padding-top: 26px;
    width: 196px;
    text-align: center;
    margin-bottom: 23px;
}

.block-info img {
    
}
.text-h3 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}

.block-info .text-p {
    margin: 0;
    text-align: center;
    opacity: 80%;
}
.main-flex_block-two {
}
.main-flex_block-thrid {
}

.product {
    padding-top: 46px;
    padding-bottom: 103px;

}
.product-text {
    text-align: left;
    margin-bottom: 70px;
}

.product-text__flex {
 display: flex;
}
.product .fa {
    color: #1617DB;
    margin-right: 10px;
}
.fa-apple {
}

.product .text-h6 {

}
.product .text-h2,
.product .text-p {
    text-align: left;
}
.product .text-p {
    width: 485px;
}
.product-flex {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.product-flex__item {
    position: relative;
    z-index: 1;
    padding: 3px 1px 1px 1.5px;
    height: 400px;
    width: 312px;
    border-radius: 64px;
    border: 3px solid #cccccc;
    overflow: hidden;
}
.product-img {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #cccccc;
    height: 388px;
    width: 303px;
    border-radius: 60px;
    background-color: #F8D7D9;
}
.product-img__second {
    background-color: #D6D7DB;
}

.product-img__thrid {
    background-color: #DCD2D4;
}

.btn-circle {
    height: 144.4px;
    width: 144.4px;
    background-color: #F3F3F5;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    bottom: -60px;
    left: -55px;
    color: #3A3F55;
    padding-left: 49.5px;
    padding-bottom: 63.5px;
    font-size: 29.5px;
    cursor: pointer;
}

.btn-circle:hover {
    background-color: #1617DB;
    color: #fff;
}


/* 
.plus {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 15px;
    left: 35px;
    z-index: 3;
}

.plus .hr:hover + .vr {
    background-color: #fff;
}
/* .plus .vr:hover  {
    background-color: red;
} */
/* 
.hr { 
    width: 14px;
    height: 2px;
    background-color: #3A3F55;
} */

.vr {
    margin-top: -2px;
    height: 2px;
    width: 14px;
    background-color: #3A3F55;
    transform: rotate(90deg);
} */

